<template name="service_list">
  <div class="page-header">
    <h1>Manage Services</h1>
  </div>
  <p class="lead">Connect to all of your favorite services like {{#each cloudObjects}}{{name}}, {{/each}} etc...</p>

  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Connected Services</div>
    <div class="panel-body">
      <p>You are successfully connected to the following services...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <!--<li class="list-group-item">Cras justo odio</li>-->
    </ul>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Available Services</div>
    <div class="panel-body">
      <p>The following services are available to connect with...</p>
    </div>
    <ul class="list-group">
      {{#each cloudObjectDefinitions}}
        <li class="list-group-item">
          <div class="media-left">
            <a href="{{url}}" target="_blank">
              <img class="media-object" src="/img/{{lowercase name}}/{{lowercase name}}.png" alt="{{name}}" style="width: 32px; height: 32px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            <a href="/services/connect/{{name}}">Connect</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
