<template name="service_list">
  <div class="page-header">
    <h1>Manage Services</h1>
  </div>
  <p class="lead">Connect to all of your favorite services like Nest, Philips Hue, Dark Sky, etc...</p>

  <div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Connected Services</div>
    <div class="panel-body">
      <p>You are successfully connected to the following services...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <!-- <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li> -->
    </ul>
  </div>

  <div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Available Services</div>
    <div class="panel-body">
      <p>The following services are available to connect with...</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="/img/darksky/dark_sky.png" alt="Dark Sky" style="width:32px; height:32px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Dark Sky</h4>
            <a href="#">Connect</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="/img/nest/Nest_Home_Badge/Nest-Home-Badge_Blue_RGB_32x32_1x.png" alt="Nest" style="width:32px; height:32px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Nest</h4>
            <a href="#">Connect</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
